body {
  background-color: whitesmoke;
  top: 0;
  bottom: 0;
  font-family: "Brandon";
  color: #3a1a21;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1fr, 2fr);
  grid-template-rows: (3, 1fr);
  margin-left: 0;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #db9487;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4e00;
  border-radius: 10px;
}


.two{
  display: inline;;
}


.preview{
  padding-right: 4px;;
}


.btn-primary{
  background-color: #ff4e00;
  color: #f6f7f1;
  /* align-self: center; */
  border-radius: 2px;
  height: 50px;
  font-size: 20px;
 border-color: #f6f7f1;
 width: 50px;

}
.name {
  align-items: center;
}

h5{
  font-family: "Blake";
  font-size: 36px;
  margin-bottom: 0px;
  margin-top: 0px;
}

li a:hover {
  text-decoration: underline #f6f7f1;
  color: white;
  background-color: #ff4e00;
  transition: 2s;
}

li {
  color: #ff4e00;
  font-size: 15px;

}

@font-face {
  font-family: "Blake";
  src: local("Blake"), url(./media/Blake.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "Brandon";
  src: local("Brandon"), url(./media/Brandon.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

h1 {
  font-family: "Blake";
  font-size: 36px;
  display: flex;
  padding-bottom: 5px;
}

#about h2 {
  font-family: "Blake";
  padding-left: 20px;
  position: relative;
}

h3 {
  font-family: "Brandon";
  font-size: 14px;
  padding-left: 37px;
}


.wrapper {
  margin-left: 0;
  display: grid;

  margin-top: 0px;
  margin-bottom: 0px;

  grid-template-columns: repeat(10%, 90%);
  grid-template-rows: 100px 600px 300px;
}

#root {
  margin-top: 0;
  grid-template-columns: repeat(30%, 70%);
  display: grid;
  grid-template-rows: (3, 1fr);
  bottom: 0;
  top: 0;
}

.name {
  grid-column: 1/2;
  border-right: solid 1px #ff4e00;
  grid-row: 1/4;
  height: 100%;
  padding-top: 30px;
  width: 555px;
}

.content {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  margin-left: 175px;
  padding-top: 100px;
}

.navBar {
  grid-column: 2/3;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.photo {
  padding-top: 6px;
  margin-top: 0;
  height: auto;
  max-width: 52%;
  border-radius: 350px;
}
li {
  list-style: none;
  display: inline;
  padding-left: 5px;
}

.headshot {
  align-items: center;
  width: 50px;
  margin-top: 20%;
  padding-left: 20%;
  padding-top: 20px;
}

p {
  display: inline-block;
}

.skills {
  align-items: center;
  text-align: center;
}


h4 {
  font-size: 16px;
  font-weight: bold;
}
.about {
  text-align: justify;
  margin-top: 0px;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 800px;
  overflow-y: scroll;
  height: 650px;
  
}

.contactForm{
  grid-column: 2/2;
  grid-row: 2/3;
}

.items {
  align-items: center;
  padding-left: 6px;
}

.projectOne {
  margin-top: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  width: 635px;
  text-align: justify;
}

.projectTwo {
  margin-top: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  width: 635px;
  text-align: justify;
}

.email {
  align-self: center;
  margin-left: 35%;
  display: none;
}


footer {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
  bottom: 0;
}

.footerBox {
  background-color: #ff4e00;
  /* opacity: 0.8; */
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 70px;
  bottom: 0;
  color: whitesmoke;

}
.projectThree {
  margin-top: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  width: 635px;
  text-align: justify;
}

.projectFour {
  margin-top: 70px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  width: 635px;
  text-align: justify;
}

form {
  align-items: center;
  padding-left: 25px;
  margin-left: 10px;
 
}

input {
  background-color: whitesmoke;
  color: #3a1a21;
  width: 10.5rem;
  margin-left: 5px;
  border-radius: 5px;
  padding-bottom: 3px;
}

.textarea {
  width: 10.5rem;
  margin-left: 5px;
  background-color: whitesmoke;
  color: #3a1a21;
  border-radius: 5px;
  margin-top: 3px;
}

label {
  font-weight: bolder;
}

input {
  background-color: white;
}
p {
  margin-left: 30px;
  font-size: 1rem;
}


/* media responsive  */
@media (max-width: 810px) {
  .wrapper {
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-rows: 1fr, 1fr, 1fr;
  }

  .photo {
    padding-top: 6px;
    margin-top: 0;
    height: auto;
    max-width: 30%;
    border-radius: 350px;
  }
  #root {
    margin-top: 0;
    grid-template-columns: 1fr;
    display: grid;
    grid-template-rows: (3, 1fr);
    width: 100%;
    bottom: 0;
    top: 0;
  }
  .email {
    display: contents;
    padding-left: 35%;
  }

  .about {
    align-items: center;
    grid-column: 1/1;
    grid-row: 3/3;
    margin-top: 0;
    margin-left: 0
    ;
    /* display: grid; */
  }

  .navBar {
    align-items: center;
    grid-column: 1/1;
    grid-row: 1/1;
    margin-left: 15%;
    margin-bottom: 3px;
    padding-bottom: 5px;;
  }

  .name {
    border: none;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .projectOne {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .projectTwo {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .projectThree {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .projectFour {
    grid-column: 1/1;
    grid-row: 3/3;
  }

  p {
    margin-left: 30px;
    font-size: 1rem;
  }

  form {
    display: none;
  }

  p {
    display: inline-block;
    font-size: 11px;
  }


  footer {
    display: none;
  }
  
  .footerBox {
  display: none;
  
  }

  .skills{
    font-size: 13px;
    height: fit-content;
  }
}
